body{
    background-image: url("../images/school.png");
}

header{
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

button{
    margin: auto;
}

.container{
    background-color: darksalmon;
    padding: 20px;
    /*height: 600px;*/
}

#restart-btn{
    display: none;
}

#gameField{
    display: none;
    margin: auto;
}

#gameField div{
    margin: auto;
    text-align: center;
}

#resultRow{
    display: none;
}

#answer p a{
    color: black;
}

#start{
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(200%);
}

#game-window{
    height: 600px;
}
